window#waybar {
    /* background-color: #141b1e; */
    background: transparent;
    font-family: Iosevka Nerd Font;
}

#workspaces {
margin: 10px;
  margin-top: 4px;
  padding: 7px;
  padding-left: 4px;
  border-radius: 50px;
  background: transparent;
  font-size: 14px;    
}

#workspaces button {
  color: #999999;
   padding: 2px 7px;
}

#workspaces button:hover {
  background: #232a2d;
}

#workspaces button.active {
  color: #ffffff;
}

#custom-power {
    color: #141b1e;
    background-color: #e57474; 
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 0px 10px;
    margin-bottom: 5px;
}

#clock {
    color: #dadada;
    font-size: 1.2em;
    margin-bottom: 8px;
}

#custom-void {
    color: #141b1e;
    background-color: #8ccf7e;
    font-size: 15px;
    border-radius: 10px;
    padding: 10 0px;
    margin: 0 10px;
    margin-bottom: 5px;
    margin-top: 8px;
}

#custom-separator {
    color: #dadada; 
}

#battery {
    margin-top: 8px;
    color: #dadada;
    font-size: 17px;
}

#custom-wofi {
    border-radius: 50px;
    margin: 10px;
    font-size:17px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}

#custom-notification {
    font-size: 17px;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 5px;
}
