* {
  bg:      #303446;
  fg:      #C6D0F5;
  al:      #665c54;
  se:      #1d2021;
  ac:      #ebdbb2;
  red:     #E78284;
  green:   #A6D189;
  yellow:  #E5C890;
  blue:    #8CAAEE;
  purple:  #F4B8E4;
  cyan:    #81C8BE;
}

