/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2B3339FF;
    background-alt: #323D43FF;
    foreground:     #D3C6AAFF;
    selected:       #83A598FF;
    active:         #A7C080FF;
    urgent:         #DBBC7FFF;
}
